<!DOCTYPE html>
<html lang="en">

{% load static %}
  <head>

    <link rel="stylesheet" href="{%static '/css/style.css'%}">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Principal</title>
</head>
<body style="background-color: #6f42c1">
    <div class="container"> 
      <div class="row">
        <div class="col-4 position-absolute top-50 buttom-50 start-50 translate-middle">
          <div class="card bg-warning mx-auto d-block" >
            <img src="{{ perfil }}"  class="mt-2 mx-auto d-block "  />
            <div class="card-body">
              <h1 class="card-title text-center">Bienvenido</h1>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center "style="font-family:Impact">NOMBRE: {{nombre}} </li>
              <li class="list-group-item text-center" style="font-family:Impact"> APELLIDO: {{apellido}} </li>
              <li class="list-group-item text-center" style="font-family:Impact">PROFESIÓN: {{profesion}} </li>
              <li class="list-group-item text-center" style="font-family:Impact">EDAD: {{edad}} </li>
              <li class="list-group-item text-center" style="font-family:Impact">CIUDAD: {{ciudad}} </li>
            </ul>
            <div class="card-body">
                <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-secondary" href="/proyectos" type="button">Mi mejor proyecto</a>
                <a class="btn btn-secondary" href="/proyectos2" type="button">Mi casi mejor proyecto</a>
                <a class="btn btn-secondary" href="/proyectos3" type="button">Mi proyecto</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
    ></script>   
</body>
</html>